<a href="https://colab.research.google.com/github/tobeywang/2nd-ML100Days/blob/master/Day_004_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path, 並讀取 app_train
dir_data = './'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [0]:
## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [0]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(196079, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [0]:
"""
Your Code Here
"""
#Sklearn rule
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
rule1 = onehotencoder.fit_transform(sub_train).toarray()

#Pandas rule
rule2 = pd.get_dummies(sub_train)

##觀察轉換前後的欄位數量 (使用 shape)

In [0]:
#轉換前 shape
sub_train.shape

(196079, 1)

In [0]:
#Sklearn 轉換後 shape
rule1.shape

(196079, 7)

In [0]:
#Pandas 轉換後 shape
rule2.shape

(196079, 7)

##欄位名稱 (使用 head) 變化

In [0]:
#原始資料
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [0]:
#Sklearn 轉換後前五筆資料
rule1[:5] #[FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY]

array([[0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0., 0.]])

In [0]:
#Pandas 轉換後前五筆資料
rule2["WEEKDAY_APPR_PROCESS_START_MONDAY"].head()

0    0
1    1
2    1
3    0
4    0
Name: WEEKDAY_APPR_PROCESS_START_MONDAY, dtype: uint8